		</div>
		<nav class="main-nav">
			<ul class="list-unstyled">
				<li><a href="#">About</a></li>
				<li><a href="#">Thesis</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<script src="./client/assets/js/lib/jquery-3.1.1.min.js"></script>
		<script src="./client/assets/js/main.js"></script>
	</body>
</html>