<div class="page-content commandments-container">
				<div class="commandments-header row" style="display:none;">
					<span class="col-md-6">Commandments</span>
					<span class="col-md-6">Top Commentary</span>
				</div>
				<ul class="commandments-list list-unstyled">
					<%commandments.forEach(function(commandment, index){%>
					<li>
						<a href="/commandment/<%=index+1%>" class="commandment-preview-header row">
							<span class="commandment-count col-md-1"><%=index+1%>.</span>
							<span class="col-md-5"><%=commandment.title%></span>
							<span class="col-md-6"><%-format.elipses(commandment.body, 80, true)%></span>
						</a>
					</li>
				<%})%>
</ul>