		</div>
		<nav class="main-nav">
			<ul class="list-unstyled">
				<li><a href="#">About</a></li>
				<li><a href="#">Thesis</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		<script src="/client/assets/js/lib/jquery-3.1.1.min.js"></script>
		<script src="/client/assets/js/main.js"></script>
		<footer>
			<span></span>
			<div class="wrap">
				<section>
					<span>&copy; 2017 Moshe Bienenfeld</span>
					<span>Master of Fine Arts, Communications Design</span>
					<span>School of Art and Design</span>
					<span>Pratt Institute</span>
				</section>
				<nav>
					<h6>Get In Touch</h6>
					<a href="http://moshebien.com">Portfolio</a>
					<a href="https://www.instagram.com/moshebien/">Instagram</a>
					<a href="mailto:moshebien@gmail.com">Email</a>
				</nav>
			</div>
		</footer>
	</body>
</html>