<header class="page-header">
	<nav>
		<span class="name">Moshe Bienenfeld</span>
		<span class="hamburger-container">
			<div class="hamburger">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</span>
	</nav>