<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta content="width=device-width, initial-scale=1" name="viewport">
		<title>Torah and Design; A Way of Life - Moshe Bienenfeld</title>
    <link rel="shortcut icon" href="/client/assets/favicon.png" type="image/x-icon"/>
		<link href="/client/assets/css/lib/bootstrap.min.css" rel="stylesheet">
		<link href="/client/assets/css/main.css" rel="stylesheet">
	</head>
	<div class="container <%=pageType%>">
