<header class="page-header">
	<nav>
		<span class="name">Moshe Bienenfeld</span>
		<span class="hamburger-container">
			<div class="hamburger">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</span>
	</nav>
	<h1>
		Looking at design through the lens of the Torah
	</h1>
	<div class="arrow arrow-large"><span></span></div>
</header>
